mat-icon{
    margin-right: 20px
}
mat-grid-list{
    
    top:0px !important;
    bottom:0px !important;
  }
  mat-grid-tile.top{
    background:black;}
    
      mat-grid-tile.top{
        
        background:url("..\assets\art2.jpg") no-repeat center center ;
        background-size:cover;
        
      }