<!--navigation bar-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        
        <mat-icon >pets</mat-icon>
        
        
        <mat-icon>hotel</mat-icon>
        
       
        <span style="flex: 1 1 auto;"></span>
        <mat-icon>local_cafe</mat-icon>
        
        <mat-icon>beach_access</mat-icon>
        </mat-toolbar-row>
        </mat-toolbar>
      
       <mat-grid-list cols="1"  rowHeight="400px">
    <mat-grid-tile class="top" rowHeight="100px">


           

    </mat-grid-tile>
    <mat-grid-tile class="bottom">

        <vg-player >
            <video style="width:1500px" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source src="..\assets\cats.mp4" type="video/mp4">
            </video>
        </vg-player> 
    </mat-grid-tile>
    </mat-grid-list>

    <mat-toolbar color="primary" style="height:150px">
        <mat-toolbar-row><div style="position:absolute;left:calc(50% - 130px)">
            <button style="margin-right:20px;background:purple" mat-raised-button color="primary">
             <a style="color:white;text-decoration: none" href="https://github.com/Simran-Gosai" >No,Thanks!</a> </button>          
               <button  style="background: purple"  mat-raised-button color="primary">
                <a style="color:white;text-decoration: none" href="https://en.wikipedia.org/wiki/Ailurophobia">Ugh,Cats.</a></button>
          </div>
        </mat-toolbar-row>
      
      </mat-toolbar>